#username_id-error,
#password_id-error{
    background: rgba(165, 0, 0, .8);
    color: white;
    padding: .5em;
    width: 100%;
    text-align: center;
    margin-top: .3em;
}


.response{
    display: none;
    padding: 1em 0em;
    background: rgba(165, 0, 0, .8);
    color: white;
    text-align: center;
    border-radius: 3em;
    margin-top: 1em;
}

.username_password_error{
    vertical-align: super;
}

.theme-default.page-signin .signin-info, .theme-default.page-signup .signup-header{
    background: rgba(165, 0, 0, 0.48);
}

.theme-default .bg-primary {
    background: rgba(165, 0, 0, 1);
}

.page-signin .form-actions .signin-btn:hover {
    background: rgba(165, 0, 0, .8);
}