<!-- Header Section Start -->
<header id="header-wrap">
    <!-- Header Logo and Menu Start -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="50">
        <div class="container">
            <div class="navbar-header">
                <!-- start Toggle Nav For Mobiles -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index-2.html" class="navbar-brand"><img src="assets/img/logo.png" alt=""></a>
            </div>

            <!--  Start Navigation-->
            <div class="navbar-collapse collapse" id="navigation">
                <!-- Top Search Start -->
                <ul class="right cart-search">
                    <li class="has-form">
                        <div id="top-search">
                            <div class="header-search-wrap">
                                <div class="dropdown header-search">
                                    <a href="#" id="search-button" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                        <i class="icon-search"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="Search-button">
                                        <form action="#" class="td-search-form" method="get" role="search">
                                            <div class="head-form-search">
                                                <input id="td-header-search" class="form-control" type="text" autocomplete="off" name="s" value="" placeholder="Search" >
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
                <!-- Top Search End -->

                <!-- Start Navigation List -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="active" href="index-2.html">Home</a>
                        <ul class="dropdown">
                            <li><a class="active" href="index-2.html">Home 1</a></li>
                            <li><a href="index-02.html">Home 2</a></li>
                        </ul>
                    </li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="#">Reservation</a>
                        <ul class="dropdown">
                            <li><a href="reservation-form-1.html">Reservation Form 1</a></li>
                            <li><a href="reservation-form-2.html">Reservation Form 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Features</a>
                        <ul class="dropdown">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="portfolio.html">Gallery</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="404.html">404 Page</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">contact</a></li>
                    <li><a href="blog.html">Blog</a>
                        <ul class="dropdown">
                            <li><a href="blog.html">Page With right sidebar</a></li>
                            <li><a href="left-sidebar.html">Page With left sidebar</a></li>
                            <li><a href="single-post.html">Blog single post</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- Mobile Menu Start -->
            <ul class="wpb-mobile-menu">
                <li><a class="active" href="index-2.html">Home</a>
                    <ul class="dropdown">
                        <li><a class="active" href="index-2.html">Home 1</a></li>
                        <li><a href="index-02.html">Home 2</a></li>
                        <li><a href="index-03.html">Home 3</a></li>
                    </ul>
                </li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="#">Reservation</a>
                    <ul class="dropdown">
                        <li><a href="reservation-form-1.html">Reservation Form 1</a></li>
                        <li><a href="reservation-form-2.html">Reservation Form 2</a></li>
                    </ul>
                </li>
                <li><a href="#">Features</a>
                    <ul class="dropdown">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="portfolio.html">Gallery</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="404.html">404 Page</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">contact</a></li>
                <li><a href="blog.html">Blog</a>
                    <ul class="dropdown">
                        <li><a href="blog.html">Page With right sidebar</a></li>
                        <li><a href="left-sidebar.html">Page With left sidebar</a></li>
                        <li><a href="single-post.html">Blog single post</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Mobile Menu End -->
        </div>
    </div>
    <!-- Header Logo and Menu End -->

    <!-- Main slider Section -->
    <div id="carousel-area">
        <div class="touch-slider owl-carousel">
            <div class="item">
                <img class="slider-img" src="assets/img/slider/image-1.jpg" alt="">
                <div class="carousel-caption">
                    <div class="slider-content">
                        <img src="assets/img/top.png" alt="">
                        <h1>Welcome to Remy</h1>
                        <p class="description">We offer the best meals at the best value</p>
                        <img src="assets/img/bottom.png" alt="">
                    </div>
                    <div class="bottom-arrow">
                        <p>Explore recipes</p>
                        <a href="#recipes"> <i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="slider-img" src="assets/img/slider/image-2.jpg" alt="">
                <div class="carousel-caption">
                    <div class="slider-content">
                        <img src="assets/img/top.png" alt="">
                        <h1>Special Recipes</h1>
                        <p class="description">That match your unique tastes and diet preferences</p>
                        <img src="assets/img/bottom.png" alt="">
                    </div>
                    <div class="bottom-arrow">
                        <p>Explore recipes</p>
                        <a href="#recipes"> <i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="slider-img" src="assets/img/slider/image-3.jpg" alt="">
                <div class="carousel-caption">
                    <div class="slider-content">
                        <img src="assets/img/top.png" alt="">
                        <h1>Make a Reservation</h1>
                        <p class="description">We're always open call us to confirm</p>
                        <img src="assets/img/bottom.png" alt="">
                    </div>
                    <div class="bottom-arrow">
                        <p>Explore recipes</p>
                        <a href="#recipes"> <i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main slider Section End -->

</header>
<!-- Header Section End -->