/*@import url(https://fonts.googleapis.com/css?family=Raleway:600,300,400,700);*/
/* ==========================================================================
	Gobal Styles
	========================================================================== */
body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  background: #F7F7F7;
  overflow-x: hidden;
}
strong,
b {
  font-weight: 600;
}
ul,
ol {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #f26522;
}
i {
  font-size: 1.1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 0;
}
h1 {
  font-size: 24px;
  line-height: 30px;
}
h2 {
  font-size: 22px;
  line-height: 28px;
}
h3 {
  font-size: 18px;
  line-height: 24px;
}
h4 {
  font-size: 16px;
  line-height: 22px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
}
h6 {
  font-size: 14px;
  line-height: 18px;
}
p {
  color: #323232;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 24px;
}
a {
  color: #444;
}
.uppercase {
  text-transform: uppercase;
}
img {
  max-width: 100%;
}
.section-title {
  position: relative;
  padding-top: 80px;
  background: url(../img/top.png);
  background-position: center top;
  background-repeat: no-repeat;
  margin: 30px 0;
  text-align: center;
}
.section-title h2 {
  font-size: 48px;
  color: #323232;
  font-weight: 600;
  margin-bottom: 20px;
}
.section-title p {
  font-size: 24px;
  font-weight: 300;
  color: #323232;
}
.section-subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}
.big-title {
  font-size: 24px;
  margin-bottom: 22px;
}
.description {
  margin-bottom: 30px;
}
.btn:focus,
.btn:active {
  color: #FFF;
  outline: none;
}
.btn {
  border: none;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  border-radius: 0;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.btn-common {
  background: #f26522;
  border: 1px solid transparent;
  color: #fff;
  z-index: 1;
}
.btn-common:hover {
  color: #f26522;
  background: transparent;
  border: 1px solid #f26522;
}
.btn-more {
  padding: 8px 20px;
  margin: 5px 0;
}
.btn-sb {
  width: 100%;
  margin: 0;
}
.btn-cart {
  padding: 12px 36px;
  margin: 50px 0;
  font-size: 26px;
}
.btn-cart i {
  margin-right: 10px;
  font-size: 22px;
}
.add-cart {
  font-size: 16px;
  color: #f26522;
  font-weight: 600;
}
.add-cart i {
  font-size: 14px;
  margin-left: 5px;
}
.price {
  color: #f26522;
  font-size: 36px;
  padding: 20px 0;
  font-weight: 600;
}
.btn.disabled {
  opacity: 1;
}
.recipes-bg {
  background: #fff;
  padding: 50px;
}
.general-top {
  margin-top: -180px;
}
.back-to-top {
  display: none;
  position: fixed;
  bottom: 35px;
  right: 15px;
}

.viewOrder {
  display: none;
  position: fixed;
  text-align: center;
  right: 0;
  top: 70px;
}

.viewOrder button{
  border-radius: 5px;
  font-size: 12px;
  padding: .8em 1em;
}

.back-to-top i {
  display: block;
  width: 36px;
  font-size: 20px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border-radius: 0px;
  background-color: #f26522;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
/* ==========================================================================
	Navigation Menu
	========================================================================== */
.logo {
  margin: 18px 30px 0 0;
  float: left;
  color: #666;
  cursor: pointer;
}
.navbar-fixed-top.affix {
  width: 100%;
  top: 0;
  z-index: 999;
  background: #333942;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* Mobile Menu */
.slicknav_nav a:hover,
.slicknav_nav .active {
  color: #f26522;
}
.slicknav_menu .slicknav_icon-bar {
  background: #f26522;
}
.slicknav_btn {
  border: 1px solid #f26522 !important;
}
.slicknav_btn:hover {
  background: #f26522;
  border: 1px solid #f26522;
}
.navbar-default {
  margin-bottom: 0;
  background: transparent;
  border: none;
  border-radius: 0;
}
.navbar-brand {
  position: relative;
  padding: 15px 0;
  margin: 0 !important;
}
.navbar-nav a {
  -moz-transition: color .3s linear,background .3s linear;
  -webkit-transition: color .3s linear,background .3s linear;
  -o-transition: color .3s linear,background .3s linear;
  transition: color .3s linear,background .3s linear;
}
.navbar-default .navbar-nav {
  margin-left: 50px;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.navbar-default .navbar-nav li a {
  color: #ffffff;
  font-size: 14px;
  display: block;
  padding: 24px 0px;
  text-decoration: none;
  margin-right: 30px;
  font-weight: 700;
  text-transform: uppercase;
  outline: 0;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a.active,
.navbar-default .navbar-nav li a:focus {
  color: #f26522;
}
.navbar-default .navbar-nav ul.dropdown,
.navbar-default .navbar-nav ul.dropdown li ul.dropdown {
  margin: 0;
  padding: 0;
  display: none;
  border-top: 3px solid #f26522;
  position: absolute;
  z-index: 99;
  min-width: 200px;
  white-space: normal;
  background: #fff;
}
.navbar-default .navbar-nav ul.dropdown li,
.navbar-default .navbar-nav ul.dropdown li ul.dropdown li {
  width: 100%;
  position: relative;
  clear: both;
  display: block;
  margin: 0;
}
.navbar-default .navbar-nav ul.dropdown li a,
.navbar-default .navbar-nav ul.dropdown li ul.dropdown li a {
  width: 100%;
  padding: 10px 25px 10px 22px;
  color: #888;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #f1f1f1;
  float: left;
  clear: both;
  text-transform: none;
  position: relative;
  outline: 0;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.navbar-default .navbar-nav ul.dropdown li a:hover,
.navbar-default .navbar-nav ul.dropdown li ul.dropdown li a:hover,
.navbar-default .navbar-nav ul.dropdown li a.active,
.navbar-default .navbar-nav ul.dropdown li ul.dropdown li a.active,
.navbar-default .navbar-nav ul.dropdown li a:focus,
.navbar-default .navbar-nav ul.dropdown li ul.dropdown li a:focus {
  color: #fff;
  border-bottom: 1px solid #f26522;
  background: #f26522;
}
.navbar-default .navbar-nav ul.dropdown li ul.left {
  left: 200px;
}
.navbar-default .navbar-nav ul.dropdown li ul.right {
  left: -200px;
}
.navbar-default .navbar-nav .pr {
  padding-right: 5px;
}
.navbar-default .navbar-nav li:hover .dropdown {
  display: block;
  -webkit-animation: zoomIn 400ms ease both;
  -moz-animation: zoomIn 400ms ease both;
  -o-animation: zoomIn 400ms ease both;
  animation: zoomIn 400ms ease both;
}
@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes zoomIn {
  0% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes zoomIn {
  0% {
    opacity: 0;
    -o-transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -o-transform: scale(1);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.top-bar {
  background: #30A39C;
  color: #fff;
  padding: 6px;
}
.top-bar .quick-contacts {
  line-height: 32px;
}
.pl {
  padding-left: 5px;
}
.header-search-wrap {
  float: right;
  width: 40px;
  text-align: center;
  margin-top: 15px;
  height: 40px;
  line-height: 40px;
  display: block;
}
.header-search-wrap .header-search {
  z-index: 3;
}
.header-search-wrap .header-search a {
  font-size: 14px;
  color: #fff;
  display: block;
}
.right {
  float: right!important;
}
.cart-search li {
  float: left;
}
.cart-search li.cart a {
  font-size: 14px;
  color: #fff;
  padding: 23px 8px;
  display: block;
}
.cart {
  position: relative;
}
.cart .cart-count {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  color: #FFF;
  line-height: 20px;
  text-align: center;
  position: absolute;
  display: block;
  border-radius: 50%;
  background: #f26522;
  width: 20px;
  height: 20px;
  top: 10px;
  right: -15px;
}
.header-search-wrap .dropdown-menu {
  padding: 0px;
  top: 50px;
  border-radius: 0px;
  border: none;
  width: 342px;
  left: -302px;
  background: #ffffff;
  box-shadow: 0.9px 0.866px 5px 0 rgba(0, 0, 0, 0.3);
  border-top: 3px solid #f26522;
}
.header-search-wrap .dropdown-menu:before {
  position: absolute;
  top: -9px;
  right: 15px;
  display: block;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5.5px 6px 5.5px;
  border-color: transparent transparent #f26522 transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* responsive phone */
}
.wpb-mobile-menu {
  display: none;
}
@media (max-width: 767px) {
  .navbar-toggle {
    display: none;
  }
  .navbar-brand {
    position: absolute;
    top: 0;
    padding: 15px;
  }
  .header-search-wrap .dropdown-menu:before {
    right: auto;
    left: 70px;
  }
}
.header-search-wrap .dropdown-menu .td-search-form {
  margin: 21px 20px 21px 21px;
  /* responsive phone */
}
.open > .dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration: .2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration: .2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration: .2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.99;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.99;
  }
}
.slicknav_menu {
  display: none;
}
@media screen and (max-width: 767px) {
  #wpb-mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
}
/* ==========================================================================
	Navigation Menu
	========================================================================== */
#carousel-area {
  background-color: #E9E9E9;
  padding: 0px;
  max-height: none;
  overflow: visible;
}
#carousel-area .item {
  background-size: 100%;
  background-size: cover;
  height: 765px;
  position: relative;
}
#carousel-area .item:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  display: block;
}
#carousel-area .item .carousel-caption {
  top: 22%;
  right: 10%;
  left: 10%;
}
#carousel-area .item .carousel-caption h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  color: #fff;
  margin: 40px;
}
#carousel-area .item .carousel-caption .description {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
#carousel-area .item .carousel-caption .slider-content {
  margin-bottom: 50px;
}
#carousel-area .item .carousel-caption .bottom-arrow p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
#carousel-area .item .carousel-caption .bottom-arrow i {
  color: #fff;
  font-size: 30px;
}
.slider .owl-controls .owl-buttons div,
.touch-slider .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  margin: 0 !important;
  padding: 5px !important;
  background: transparent !important;
  color: #fff !important;
  border-radius: 0px !important;
  opacity: 1 !important;
  margin-top: -30px !important;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.slider .owl-controls .owl-buttons div i,
.touch-slider .owl-controls .owl-buttons div i {
  font-size: 22px;
}
.slider .owl-controls .owl-buttons div:hover,
.touch-slider .owl-controls .owl-buttons div:hover {
  color: #f26522 !important;
}
.slider .owl-controls .owl-buttons div,
.touch-slider .owl-controls .owl-buttons div {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
.touch-slider .owl-controls .owl-buttons div.owl-prev {
  left: 50px;
}
.touch-slider .owl-controls .owl-buttons div.owl-next {
  right: 50px;
}
/* ==========================================================================
   Hero area Styles
   ========================================================================== */
.top-main {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.top-main .page-title-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
}
.top-main .page-title-wrapper .banner-wrapper {
  vertical-align: middle;
  position: relative;
  display: inline-block;
}
.top-main .page-title-wrapper .banner-wrapper .heading {
  font-size: 52px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.top-main .page-title-wrapper .banner-wrapper .description {
  color: #fff;
}
/* ==========================================================================
   Custom Component
   ========================================================================== */
/* ==========================================================================
   About Us Section Style
   ========================================================================== */
#about .about-wrapper {
  padding: 0;
  position: relative;
  background: #fff;
  margin-top: -145px;
}
#about .about-wrapper .text-content {
  padding: 102px 30px;
  background: #fff;
  position: relative;
}
#about .about-wrapper .text-content:before {
  content: '';
  top: 0;
  width: 200px;
  position: absolute;
  padding-top: 80px;
  background: url(../img/top-half.png);
  background-repeat: no-repeat;
  margin: 30px 0;
  text-align: center;
}
#about .about-wrapper .text-content:after {
  content: '';
  bottom: 0;
  right: 0;
  width: 200px;
  position: absolute;
  padding-top: 80px;
  background: url(../img/bottom-half.png);
  background-repeat: no-repeat;
  text-align: center;
}
#about .about-wrapper .sce-title {
  margin-bottom: 20px;
}
#about .about-wrapper .sce-title h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
}
#about .about-wrapper .sce-title p {
  font-size: 24px;
  font-weight: 300;
}
#about .about-wrapper .left-image {
  padding-right: 0px;
}
.team {
  margin-top: 60px;
}
.left-content {
  padding-right: 0;
}
.right-image {
  padding-left: 0;
}
/* ==========================================================================
   Recipes Section Style
   ========================================================================== */
#recipes {
  padding-top: 40px;
  padding-bottom: 260px;
  position: relative;
  overflow: hidden;
}
#recipes .nav-tabs {
  text-align: center;
  border-bottom: none;
  margin-bottom: 30px;
}
#recipes .nav-tabs li {
  margin: 10px;
  float: none;
  display: inline-block;
}
#recipes .nav-tabs li a {
  margin-right: -6px;
  border-radius: 0!important;
  border-bottom: 2px solid #323232;
}
#recipes .nav-tabs > li.active > a,
#recipes .nav-tabs > li.active > a:focus,
#recipes .nav-tabs > li.active > a:hover {
  color: #323232;
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #f26522;
  border-radius: 0;
}
#recipes .nav-tabs > li > a:focus,
#recipes .nav-tabs > li > a:hover {
  background: transparent;
  border-bottom: 2px solid #f26522;
}
#recipes .nav-tabs > li > a:hover {
  border-color: transparent transparent #f26522;
}
#recipes .item {
  display: inline-block;
  margin-bottom: 30px;
}
#recipes .item .img {
  float: left;
}
#recipes .item .details {
  width: 280px;
  float: left;
  padding: 0 20px;
}
#recipes .item .price {
  float: left;
  margin-top: 16px;
}
#recipes .images-left-top {
  position: absolute;
  left: -48px;
  top: 0px;
}
#recipes .images-left-top img {
  width: 175px;
}
#recipes .images-right-bottom {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#recipes .images-right-bottom img {
  width: 175px;
}
.recipes-2 {
  padding-top: 40px;
  padding-bottom: 30px!important;
}
/* ==========================================================================
   Special Recipes Style
   ========================================================================== */
#special {
  position: relative;
}
.image {
  position: relative;
  display: block;
  overflow: hidden;
}
.image .overlay {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  background: rgba(239, 72, 54, 0.6);
  -webkit-transition: all 700ms ease 0s;
  -moz-transition: all 700ms ease 0s;
  transition: all 700ms ease 0s;
}
.image .icon {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -20px;
  z-index: 99;
  text-align: center;
}
.image .icon i {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  border: solid 2px #fff;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  opacity: 0;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: all 700ms ease 0s;
  -moz-transition: all 700ms ease 0s;
  transition: all 700ms ease 0s;
}
.image:hover .overlay {
  opacity: 1;
}
.image:hover .icon i {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  transform: scale(1, 1);
}
.special-recipes {
  background: url(../img/parallax/img-parallax.jpg) no-repeat;
  background-position: center center;
  position: relative;
}
.special-recipes:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  display: block;
}
.special-recipes .auto-container {
  margin-top: -280px;
}
.special-recipes .auto-container .cta {
  color: #fff;
  padding: 60px;
}
.special-recipes .auto-container .cta h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
}
.special-recipes .auto-container .cta h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 24px;
}
.special-item {
  background: #fff;
  display: inline-block;
}
.special-item .grid-item {
  padding: 0px;
  margin: 0px;
  display: block;
  height: 293px;
  overflow: hidden;
}
.special-item .grid-item .add-cart,
.special-item .grid-item .added {
  float: right;
  padding: 15px;
}
.special-item .grid-item .added {
  text-transform: uppercase;
  font-size: 16px;
}
.special-item .grid-item .added i {
  font-size: 14px;
}
.special-item .info {
  background: #fff;
  text-align: center;
  padding: 60px 20px;
  height: 100%;
  width: 100%;
}
.special-item .info h3 {
  font-size: 22px;
  margin-bottom: 10px;
}
#cta {
  background: url(../img/parallax/img-parallax.jpg) no-repeat;
  padding-top: 50px;
  position: relative;
  z-index: -1;
}
#cta:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
}
#cta .cta {
  color: #fff;
  padding: 96px 0;
}
#cta .cta h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
}
#cta .cta h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 24px;
}
.special-bottom {
  margin-bottom: -80px;
}
#special-2 {
  position: relative;
}
#special-2 .images-left-top {
  content: "";
  position: absolute;
  left: -48px;
  top: -30px;
}
#special-2 .images-left-top img {
  width: 175px;
}
#special-2 .images-right-bottom {
  content: "";
  position: absolute;
  right: -70px;
  top: -20px;
}
#special-2 .images-right-bottom img {
  width: 190px;
}
/* ==========================================================================
   Team Section Style
   ========================================================================== */
#team {
  margin-bottom: -50px;
}
#team .item {
  text-align: center;
}
#team .info {
  position: relative;
  background: #fff;
  text-align: center;
  margin: 0 20px;
  padding: 15px;
  opacity: 0;
  z-index: 999;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}
#team .info:before {
  position: absolute;
  top: -35px;
  content: "";
  height: 0px;
  border-style: solid;
  border-width: 0px 36px 36px;
  border-color: transparent transparent #FFF;
  left: 50%;
  width: 0px;
  display: inline-block;
  margin-left: -30px;
}
#team .item:hover .info {
  opacity: 1;
}
.team-carousel .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  margin: 0 !important;
  padding: 5px !important;
  background: transparent!important;
  color: #fff !important;
  border-radius: 0px !important;
  opacity: 0.5 !important;
  margin-top: -30px !important;
}
.team-carousel .owl-controls .owl-buttons div i {
  font-size: 26px;
  color: #323232!important;
}
.team-carousel .owl-controls .owl-buttons div:hover {
  opacity: 1 !important;
  color: #323232!important;
}
.team-carousel .owl-controls .owl-buttons div.owl-prev {
  left: -50px;
}
.team-carousel .owl-controls .owl-buttons div.owl-next {
  right: -50px;
}
/* ==========================================================================
   Contact Section Style
   ========================================================================== */
#contact {
  background: url(../img/parallax/img-parallax2.jpg) no-repeat;
  background-position: center center;
  color: #fff;
}
#contact .contact-form {
  background: #fff;
  padding: 60px 140px;
  z-index: 99;
  -webkit-transform: translateY(180px);
  -moz-transform: translateY(180px);
  transform: translateY(180px);
}
#contact .section-title h1 {
  color: #323232;
}
#contact .section-title h2 {
  color: #323232;
}
#contact .contact-number h3 {
  color: #f26522;
  font-size: 48px;
  margin-bottom: 30px;
}
#contact .contact-number h5 {
  font-size: 24px;
  color: #323232;
  font-weight: 400;
  margin-bottom: 30px;
}
/* ==========================================================================
   Feedback Section Style
   ========================================================================== */
#feedback {
  background: url(../img/parallax/img-parallax3.jpg) no-repeat;
  background-position: center center;
  color: #fff;
  padding-bottom: 80px;
  position: relative;
}
#feedback:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  display: block;
}
#feedback .feedback {
  background: #fff;
  padding: 50px;
  margin-top: -80px;
}
#feedback .feedback .section-title {
  color: #323232;
}
/* ==========================================================================
   Footer Style
   ========================================================================== */
.footer-area {
  background: #333942;
  color: #fff;
  padding: 60px 0;
}
.footer-area .widget-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer-area .menu-useful-links li a {
  color: #fff;
  font-size: 14px;
}
.footer-area .menu-useful-links li a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.footer-area .sub-title {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}
.footer-area .social-icon {
  margin-bottom: 20px;
}
.footer-area .social-icon a {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
}
.footer-area .social-icon a i {
  font-size: 18px;
  width: 32px;
  height: 32px;
  background: #fff;
  line-height: 32px;
  color: #323232;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer-area .social-icon a i:hover {
  background: #f26522;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#copyright {
  background: #24282E;
  text-align: center;
  padding: 15px;
}
#copyright p {
  color: #fff;
  margin: 0;
}
#copyright p a {
  color: #fff;
}
#copyright p a:hover {
  color: #f26522;
}
#features {
  padding: 60px 0;
}
.feature-item {
  padding-top: 30px;
  margin-bottom: 30px;
}
.feature-item .right-line {
  border-right: 1px solid #444;
}
.feature-item h3 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
}
.feature-item h4 {
  font-size: 24px;
  color: #666;
  margin-bottom: 10px;
  font-weight: 300;
  line-height: 30px;
}
/* ==========================================================================
      Menu Item Style
      ========================================================================== */
.menu-list {
  background: #fff;
  width: 100%;
  float: left;
  border: 1px solid #e1e1e1;
  margin-bottom: 40px;
}
.menu-list .list {
  margin: 0;
  padding: 0;
}
.menu-list .list li {
  float: left;
  border-right: 1px solid #e1e1e1;
}
.menu-list .list li a {
  color: #3A302D;
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 16px 41px;
}
.menu-list .list li a:hover,
.menu-list .list li .current {
  background: #323232;
  color: #fff;
}
.menu-list .list li:last-child {
  border-right: none;
}
.menu-item {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  background: #FFF;
  padding: 9px;
  box-shadow: 0px 1px 1px 1px #E1E1E1;
  position: relative;
}
.menu-item .menu-left {
  width: 29%;
  float: left;
  overflow: hidden;
  padding: 4px;
  border: 1px solid #e1e1e1;
  box-shadow: 2px 2px 3px 0px #e1e1e1;
}
.menu-item .menu-left img {
  width: 100%;
  height: auto;
}
.menu-item .menu-right {
  color: #666;
  width: 68%;
  padding-bottom: 10px;
  float: right;
}
.menu-item .menu-right .price {
  padding: 5px 15px;
  background-color: #f26522;
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
  position: absolute;
  top: -10px;
  right: -10px;
}
.menu-item .menu-right h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.menu-item .menu-right .rating {
  margin: 14px 0px 10px;
  display: block;
}
.menu-item .menu-right .rating i {
  color: #FF7E00;
}
/* ==========================================================================
   About Us Pages Style
   ========================================================================== */
.about-text {
  padding: 130px 35px;
}
.about-text h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.about-text .description {
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.about-text p {
  margin-bottom: 15px;
}
#about-2 {
  margin-top: -110px;
}
#about-2 .about-content {
  background: #fff;
  padding: 30px;
}
#about-2 .about-content .sub-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  color: #636363;
  margin-bottom: 36px;
}
/* ==========================================================================
    Reservation Form Page Style
    ========================================================================== */
.reservation {
  margin-top: 60px;
}
.reservation h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}
.reservation .contact-info-item {
  margin-bottom: 10px;
}
.reservation .contact-info-item .contact-text {
  display: block;
  float: left;
  width: 110px;
  text-transform: uppercase;
  margin-top: 2px;
  position: relative;
  margin-right: 20px;
  text-align: right;
}
.reservation .contact-info-item .contact-text span {
  float: left;
}
#cool-facts {
  padding: 80px 0;
  background: url(../img/bg/facts-bg.jpg) fixed;
  background-position: center center;
  background-size: cover;
}
#cool-facts .fact-block {
  border: 2px solid #eee;
  color: #fff;
}
#cool-facts .fact-block .fact-count {
  padding: 30px 0;
}
#cool-facts .fact-block .fact-count i {
  font-size: 50px;
  color: #f26522;
}
#cool-facts .fact-block h3 {
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 15px;
  padding-bottom: 10px;
}
#cool-facts .fact-block h4 {
  font-size: 22px;
  margin-top: 15px;
}
/* ==========================================================================
   Gallery Pages Style
   ========================================================================== */
.figure {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
}
.figure img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 700ms ease 0s;
  -moz-transition: all 700ms ease 0s;
  transition: all 700ms ease 0s;
}
.figure .overlay {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
  background: rgba(239, 72, 54, 0.6);
  opacity: 0;
  -webkit-transition: all 700ms ease 0s;
  -moz-transition: all 700ms ease 0s;
  transition: all 700ms ease 0s;
}
.figure .overlay .content {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 0;
  right: 0;
  -webkit-transition: all 700ms ease 0s;
  -moz-transition: all 700ms ease 0s;
  transition: all 700ms ease 0s;
}
.figure .overlay h2 {
  font-size: 30px;
  line-height: 49px;
  color: #fff;
  display: table;
  margin: 0px auto 20px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 5px 0px;
}
.figure .overlay .price {
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  display: table;
  margin: 0 auto;
  font-weight: 400;
  background: #f26522;
}
.figure:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}
.figure:hover .overlay {
  opacity: 1;
}
.figure:hover .content {
  margin-top: -50px;
}
#error-404 {
  background: #fff;
  padding: 100px 0;
}
#error-404 h1 {
  font-weight: 600;
  font-size: 120px;
  line-height: 160px;
}
#error-404 h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
.price-form {
  background: #fff;
  padding: 30px;
}
.price-form .btn-cart {
  font-size: 20px;
  padding: 12px 15px;
  font-weight: 400;
}
.price-form .btn-cart i {
  font-size: 18px;
}
.total-price h4 {
  float: left;
}
.total-price .right-pr {
  float: right;
  padding: 0;
}
.ad .image-ad {
  position: relative;
}
.ad .content-ad {
  position: absolute;
  top: 0;
}
/* ==========================================================================
     Single Item page Style
     ========================================================================== */
.single-item {
  padding-top: 80px;
}
.package-rightpart {
  background-color: #323232;
  color: #fff;
  padding: 30px 30px 15px;
}
.package-title h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}
.package-title p {
  color: #999;
  line-height: 25px;
}
.ingredients {
  display: inline-block;
  width: 100%;
}
.ingredients h4 {
  font-size: 20px;
  padding: 15px 0px;
}
.ingredients ul {
  margin-left: 10px;
}
.ingredients ul li {
  color: #999;
  font-size: 16px;
  list-style: decimal;
  padding-bottom: 8px;
}
.package-price {
  margin: 16px 0px;
}
.package-price h2 {
  margin: 15px 0;
  font-size: 20px;
  color: #fff;
}
.package-price h2,
.package-price span {
  text-align: left;
}
.price-pd {
  padding-left: 0px;
}
.regular-price {
  margin: 10px 0;
}
.package-top p,
.package-price span,
.ingredients li {
  color: #999;
}
.package-price .price-close {
  text-decoration: line-through;
}
.featured-carousel {
  margin-top: 50px;
}
.featured-carousel .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  margin: 0 !important;
  padding: 5px !important;
  background: transparent!important;
  color: #fff !important;
  border-radius: 0px !important;
  opacity: 0.5 !important;
  margin-top: -30px !important;
}
.featured-carousel .owl-controls .owl-buttons div i {
  font-size: 26px;
  color: #323232!important;
}
.featured-carousel .owl-controls .owl-buttons div:hover {
  opacity: 1 !important;
  color: #323232!important;
}
.featured-carousel .owl-controls .owl-buttons div.owl-prev {
  left: -50px;
}
.featured-carousel .owl-controls .owl-buttons div.owl-next {
  right: -50px;
}
/* ==========================================================================
   Contact Pages
   ========================================================================== */
.contact-wrapper .contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.contact-wrapper .btn {
  margin: 0;
}
.form-control {
  height: 48px;
}
.addon-alert {
  margin-bottom: 30px;
}
.addon-alert .alert-action {
  padding: 20px;
}
.form-control,
textarea {
  background: #fff;
  border: none;
  font-size: 15px;
  outline: medium none;
  color: #565761;
  margin-bottom: 22px;
  padding: 10px 12px;
  border-radius: 0;
  border: 1px solid #585A62;
  box-shadow: none;
}
.form-control:focus,
textarea:focus {
  box-shadow: none;
  border: 1px solid #f26522;
}
select.form-control {
  border: 0;
  outline: 1px solid;
  background-color: #fff;
}
select.form-control:focus {
  border: 0;
  outline: 1px solid #f26522;
  background-color: #fff;
}
.information {
  margin-top: 15px;
}
.contact-datails {
  margin-bottom: 34px;
  min-height: 75px;
  position: relative;
}
.contact-datails p {
  margin-bottom: 1em;
}
.contact-datails p i {
  padding-right: 10px;
}
.box {
  background: #f1f1f1;
  padding: 15px;
  border: 1px solid #e3e3e3;
}
.page-login-form .login-description {
  font-size: 24px;
  color: #444;
  line-height: 1;
  margin-bottom: 20px;
}
.page-login-form .login-form .form-control {
  background: #ffffff !important;
}
.page-login-form .log-btn {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}
.page-login-form .form-links {
  margin-bottom: 10px;
}
.page-login-form .form-links li {
  display: inline-block;
  padding-right: 15px;
}
.page-login-form .form-links li a:hover {
  color: #f26522;
}
.btn-sn {
  width: 100%;
  margin: 15px 0;
}
.registration .form-group {
  margin: 0;
}
.registration .form-group .lable {
  margin-bottom: 10px;
}
.registration .form-group .form-control {
  background: #ffffff !important;
}
.registration .btn {
  padding: 7px 20px;
  border: none;
}
.contact-item-wrapper {
  text-align: center;
  margin-bottom: 50px;
}
.contact-item-wrapper .icon {
  margin-bottom: 20px;
}
.contact-item-wrapper .icon i {
  font-size: 36px;
  color: #f26522;
}
.list-unstyled li {
  text-align: left;
}
/* ==========================================================================
   Blog Pages
   ========================================================================== */
/* ==========================================================================
   Blog Style Start
   ========================================================================== */
.page-container {
  padding: 60px 0;
}
.blog .blog-post {
  float: left;
  width: 100%;
}
.blog-post {
  margin-bottom: 30px;
}
.blog-post .post-img {
  -webkit-transform: translate(20px, -20px);
  -moz-transform: translate(20px, -20px);
  transform: translate(20px, -20px);
}
.blog-post .post-time {
  margin: 20px 30px 10px 0px;
  float: left;
}
.blog-post .post-time .meta {
  width: 70px;
  height: 70px;
  display: block;
  text-align: center;
}
.blog-post .post-time .meta a {
  color: #fff;
}
.blog-post .post-time .date-meta {
  background-color: #222222;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 2px;
  line-height: 22px;
}
.blog-post .post-time .date-meta i {
  display: block;
  font-size: 16px;
  font-weight: 400;
}
.blog-post .post-time .madia-post {
  background-color: #f26522;
}
.blog-post .post-time .madia-post a {
  display: block;
  padding: 20px;
  font-size: 26px;
}
.blog-post .post {
  float: left;
  width: 87%;
  background: #fff;
  box-shadow: 0px 1px 1px 0px #e7e7e7;
  margin: 20px 0px 10px;
  padding: 0;
  border: 4px solid #eaeaea;
}
.blog-post .post-content {
  padding: 10px 20px 30px;
}
.blog-post .post-content h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}
.blog-post .post-content .list {
  margin-bottom: 20px;
}
.blog-post .post-content .list li {
  display: inline-block;
  margin-right: 8px;
  color: #7A7A7A;
  font-size: 13px;
}
.blog-post .post-content .list li a {
  font-weight: 600;
}
.blog-post .post-content .btn-more {
  margin-top: 20px;
}
.blog-post .quote {
  background-color: #f26522;
  margin: 5px 5px 0px;
  padding: 20px;
  display: inline-block;
}
.blog-post .quote blockquote {
  border-left: none !important;
  margin: 1px 0px 0px;
  padding: 10px 80px;
  background: transparent url("../img/start_quote.png") no-repeat left top;
}
.blog-post .quote blockquote h2 {
  color: #FFF;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
.blog-post .quote blockquote .author {
  text-align: center;
  margin-top: 10px;
}
.blog-post .quote blockquote .author a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.blog-post .quote .right-icon {
  height: 32px;
  margin-top: -50px;
  width: 32px;
  color: #3A302D;
  float: right;
  background: transparent url("../img/end_quote.png") no-repeat right bottom;
}
.blog-link {
  background-color: #FFC148;
  margin: 5px;
  height: 100px;
}
.blog-link .link-iocn {
  width: 100px;
  float: left;
  height: 100%;
  margin-right: 5%;
  text-align: center;
  padding: 33px;
}
.blog-link .link-iocn i {
  font-size: 30px;
  color: #fff;
}
.blog-link .link-title h2 {
  margin: 10px;
  text-align: center;
  line-height: 98px;
  font-size: 28px;
  font-weight: 600;
}
.blog-link .link-title h2 a {
  color: #fff;
}
/* ==========================================================================
    Sidebar Style
    ========================================================================== */
.widget-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.explore {
  padding: 12px 30px;
  margin: 30px 0px 0px;
}
.right-sidebar {
  margin-bottom: 30px;
  margin-top: 5px;
}
.right-sidebar .widget {
  border-bottom: 1px solid #eee;
  margin-bottom: 22px;
  padding-bottom: 30px;
}
.right-sidebar .widget:last-child {
  border-bottom: none;
}
.right-sidebar .posts-list li {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px dotted #eee;
}
.right-sidebar .posts-list li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.right-sidebar .posts-list .widget-thumb {
  float: left;
}
.right-sidebar .posts-list .widget-thumb img {
  opacity: 1;
  max-width: 90px;
  margin: 5px 15px 0 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.right-sidebar .posts-list .widget-thumb:hover img {
  opacity: 0.7;
}
.widget-search input[type="search"] {
  position: relative;
  margin: 0;
  float: left;
  height: 37px;
  line-height: 37px;
  width: 85%;
  border-right: none;
}
.widget-search .search-btn {
  display: inline-block;
  width: 38px;
  position: absolute;
  height: 37px;
  border: none;
  color: #fff;
  background: #222;
  font-size: 1.2em;
  line-height: 36px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.widget-search .search-btn:hover {
  background-color: #444;
}
.testimonial-blog .quote {
  border: 4px solid #EAEAEA;
  position: relative;
  background: transparent url("../img/start_quote.png") no-repeat 14px 13px;
}
.testimonial-blog .quote blockquote {
  padding: 10px 20px;
  border-left: none;
}
.testimonial-blog .quote blockquote p {
  color: #666;
  font-size: 16px;
  font-style: italic;
  padding-top: 30px;
}
.testimonial-blog .quote .right-icon {
  height: 32px;
  margin-top: -36px;
  width: 32px;
  color: #3A302D;
  float: right;
  background: transparent url("../img/end_quote.png") no-repeat right bottom;
}
.testimonial-blog .author {
  margin: 0px;
  width: 100%;
  text-align: left;
  line-height: 12px;
}
.testimonial-blog .author a {
  font-size: 14px;
}
#pagination {
  margin-left: 100px;
}
#pagination span,
#pagination a {
  display: inline-block;
  text-align: center;
  height: 34px;
  width: 34px;
  color: #666;
  line-height: 30px;
  border: 1px solid #EAEAEA;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#pagination span.current {
  color: #fff;
  background: #f26522;
}
#pagination a:hover {
  color: #fff;
  background: #f26522;
}
#pagination .all-pages,
#pagination .next-page {
  width: auto;
  padding: 0 14px;
}
.share {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.share span {
  margin-right: 10px;
  font-size: 16px;
}
.social-link {
  margin-right: 10px;
}
.social-link a i {
  font-size: 18px;
  padding: 10px;
  background: #f26522;
  width: 40px;
  height: 40px;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.social-link .twitter:hover i {
  background: #00BAFF;
}
.social-link .facebook:hover i {
  background: #5192CC;
}
.social-link .google:hover i {
  background: #ED523D;
}
.social-link .linkedin:hover i {
  background: #1985BC;
}
.single-gallery p {
  margin-bottom: 20px;
}
blockquote {
  padding: 20px 0;
  position: relative;
  margin: 30px 0;
  border-left-color: transparent;
}
blockquote i {
  font-size: 32px;
  position: absolute;
  margin-top: 10px;
}
blockquote .quote-text {
  color: #666;
  font-size: 18px;
  line-height: 32px;
  display: block;
  font-style: italic;
  font-weight: 400;
  padding-left: 45px;
}
.post-tags-list {
  padding-top: 6px;
}
.post-tags-list a {
  display: inline-block;
  color: #444;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 4px;
}
.post-tags-list a:hover {
  color: #f26522;
}
.comments-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
#comments .comments-list {
  padding: 0;
  margin: 0 0 35px 0;
}
#comments .comments-list li .comment-box {
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 22px 0;
  border-bottom: 1px dotted #e5e5e5;
}
#comments .comments-list li ul {
  padding-left: 80px;
}
#comments .avatar {
  float: left;
}
#comments .avatar img {
  border-radius: 50%;
}
#comments .comment-content {
  padding-left: 105px;
}
#comments .comment-content .comment-meta {
  margin-bottom: 5px;
}
#comments .comment-content .comment-by {
  font-size: 16px;
  font-weight: 600;
  line-height: 33px;
  text-transform: uppercase;
}
#comments .comment-content .comment-by:hover {
  color: #444;
}
#comments .comment-content .comment-date {
  color: #444;
}
.reply-link {
  padding: 4px 16px 5px;
  background: #fff;
  border: 1px solid #ddd;
  color: #aaa;
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
  margin: 10px 3px 0 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.respond-title {
  font-weight: 600;
  padding: 15px 0;
  font-size: 20px;
}


/* MOBILE RESPONSIVE */

.image{
  margin-top: 1em;
}

@media (min-width: 768px) {
  .viewOrder{
    display: none !important;
  }
}

@media (max-width: 600px) {
  h1{
    font-size: 15px
  }
  .col-xs-6 a{
    font-size: 11px
  }
  .col-xs-2,.col-xs-3,.col-xs-4,.col-xs-6,.col-xs-8{
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .img-responsive{
    margin:auto
  }

  .tab-content{
    text-align: center;
  }

  .price{
    padding-top: 4.3em;
    border-bottom: 1px solid #ececec;
  }

  .img,.price{
    float: none !important;
    text-align: center;
  }

}

/* END OF MOBILE RESPONSIVE */